body{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    float: left;
    overflow: hidden;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}
.menu-box{
    width: 90%;
    margin: auto;
}
.logo{
    width: 30%;
    float: left;
}
.logo ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.logo ul li{
    float: left;
}
.logo ul li a{
    text-decoration: none;
    padding: 20px;
    font-size: 28px;
    font-weight: bold;
    font-family: mv boli;
    color: orange;
}
.logo ul li a:hover{
    color: black;
    text-decoration: underline;
}
.menu{
    width: 70%;
    float: left;
}
.menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu ul li{
    float: right;
}
.menu ul li a{
    text-decoration: none;
    padding: 20px;
    font-size: 28px;
    font-weight: bold;
    font-family: mv boli;
    color: orange;
}
.menu ul li a:hover{
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

.about{
    width: 100%;
    height: 600px;
    float: left;
    position: relative;
}
.box-txt{
    width: 50%;
    height: 100%;
    float: left;
    position: absolute;
    margin-top: 15%;
    margin-left: 10%;
}
.box-txt h1{
    font-family: mv boli;
    color: orange;
}
.box-txt p{
    font-size: 22px;
}
.box-txt .btn{
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: orange;
}
.box-img{
    width: 30%;
    height: 100%;
    float: left;
    position: absolute;
    margin-top: 5%;
    margin-left: 60%;
}
.box-img img{
    width: 500px;
}
.order-menu{
    width: 100%;
    float: left;
}
.order-menu h1{
    color: orange;
    text-align: center;
}
.order-menu-1{
    width: 95%;
    margin: 0 auto;
    background-color: rgb(135, 121, 121);
}
.menu-order{
    width: 325px;
    height: 500px;
    float: left;
    margin-left: 35.25px;
    padding-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    position: relative;
}
.img1{
    width: 300px;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
}
.img1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.menu-order span{
    margin-left: 40%;
    font-size: 22px;
    font-weight: bold;
}
.menu-order h3{
    font-size: 22px;
    font-weight: bold;
    color: orange;
    margin-left: 6%;
}
.menu-order .btn{
    position: absolute;
    margin-left: 65%;
    margin-top: -17%;
    background-color: orange;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footer{
    width: 100%;
    float: left;
    background-color: rgb(232, 222, 224);
    margin-top: 5%;
}
.footer_main{
    width: 95%;
    margin: auto;
    background-color: rgb(206, 197, 197);
}
.footer_tag{
    width: 23%;
    float: left;
    text-align: center;
    padding: 10px;
}
.footer_tag h2{
    margin-bottom: 20px;
    color: orange;
    font-size: 28px;
    font-weight: bold;
    font-family: mv boli;
}
.footer_tag p{
    margin-top: 10px;
    font-size: 18px;
}
.footer_tag i{
    margin: 0 5px;
    cursor: pointer;
}
.footer_tag i:hover{
    color:  orange;
}
